body {
    text-align: center;

    font-family: 'Open Sans', sans-serif;
    background-color: #f7f4c6;
    background-image: url('http://jaybtrdgrd.github.io/frontend-nanodegree-arcade-game/images/background_scene.gif');
}

h1 {
	color: white;
	font-size: 300%;
	margin-top: 60px;
	margin-bottom: -10px;
}
